<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <title>hellogo</title>
</head>

<body>
<p>u1</p>
<p>helloword{{ .u1.Name }}</p><br/>
<p>hello{{ .u1.Age }}</p><br/>
<p>h{{ .u1.Genader }}</p><br/>

<p>m1</p>
<p>helloword{{ .m1.Name }}</p><br/>
<p>hello{{ .m1.Age }}</p><br/>
<p>h{{ .m1.Genader }}</p><br/>
</body>

</html>